[submodule "dot_vim/bundle/nerdtree"]
	path = dot_vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dot_vim/bundle/supertab"]
	path = dot_vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "dot_vim/bundle/vim-rails"]
	path = dot_vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
