[user]
	name = Markus Nilsson
	email = markus@mnilsson.se
[alias]
    st = status -sb
    co = checkout

    wip = !git add -u && git commit -m "WIP" 
    undo = reset HEAD~1 --mixed

    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit 
    pull = pull --ff-only

[color]
    status = auto
    branch = auto
    interactive = auto
    repositoryformatversion = 0
    filemode = true
    bare = false
    logallrefupdates = true

[push]
	default = current
[core]
	autocrlf = input
	editor = vim
